@import "tailwindcss";

@layer utilities {
  .text-base {
    color: #ffffff;
  }
  .text-muted {
    color: var(--text-muted);
  }
  .text-subtle {
    color: var(--text-subtle);
  }
  .text-primary {
    color: var(--text-primary);
  }

  .text-on-color {
    color: var(--text-on-color);
  }

  .bg-base {
    background-color: var(--bg-base);
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .bg-primary-hover {
    background-color: var(--bg-primary-hover);
  }
  .border-primary {
    border-color: var(--border-primary);
  }
}
